// Breakpoints
$screen-xs: 375px;
$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;

//Colors
$blue: #008cff;
$light-blue: #008cff2a;
$gold: #ffd700;
$light-gold: #ffd90026;
