$section_margin: 5em 0;
$section_margin-small: 3em 0;

$extra-small: 395px;
$small: 450px;
$midsize: 640px;
$medium: 950px;
$large: 1025px;

$blue: #008cff;
$green: #9fd383;
$purple: #977aa6;
$red: #ee8581;
$yellow: #ffdd78;
