html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  body {
    font-size: 1.6rem;
  }
}

button {
  @include flex();
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  padding: 0.5em 1.2em;

  outline: none;
  border: 5px solid $blue;
  border-radius: 2em;
  color: #ffffff;
  background: $blue;
  &:hover,
  &:active,
  &:focus {
    color: $blue;
    background-color: #ffffff;
  }
}
