html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  body {
    font-size: 1.6rem;
  }
}

button {
  @include flex($j-content: center);
  @include google-sans($fw: 800, $fz: 2rem);
  text-transform: uppercase;
  cursor: pointer;
  padding: 0.5em 1.2em;

  outline: none;
  border: 3px solid $gold;
  border-radius: 1em;
  color: #ffffff;
  background: $gold;
  &:hover {
    color: $gold;
    background-color: #ffffff;
  }
}
